{% extends 'base.html' %}
{% load static %}

{% block content %}
{{block.super}}
<link rel="stylesheet" href="{% static 'css.image.css' %}">

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <img src="{{image.image.url}}" alt="{{image.image.name}}" style="height: 100vh" >
      </div>
    </div>
    <div class="col-md-4 desc">
      <p class="text-monospace">{{image.image_description}}</p>
      <p class="text-monospace"><i class="fas fa-user"></i> {{image.image_photographer}}</p>
      <p class="text-monospace"><i class="fas fa-calendar-day"></i> {{image.image_post_date}}</p>
      <p class="text-monospace"><i class="fas fa-globe-africa"></i> {{image.location}}</p>
      <p class="text-monospace">catogory : {{image.category}}</p>
    </div>
  </div>
</div>

{% endblock %}